@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark], *));

@theme {
  --color-primary: var(--primary);
  --color-primary-variant: var(--primary-variant);
  --color-primary-foreground: var(--primary-foreground);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-secondary: var(--secondary);
  --color-secondary-variant: var(--secondary-variant);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --primary: #40916C;
    --primary-variant: #52B788;
    --primary-foreground: #D8F3DC;
    --background: #ffff;
    --foreground: #3d3d3d;
    --text: #40916C;
    --secondary: #0096C7;
    --secondary-variant: #48CAE4;
    --secondary-foreground: #CAF0F8;
    --muted: #4e4e4e;
    --muted-foreground: #b2b1b1;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem
  }

  .dark {
    --primary: #52B788;
    --primary-variant: #2D6A4F;
    --primary-foreground: #1B4332;
    --background: #081C15;
    --foreground: #c0c0c0;
    --text: #52B788;
    --secondary: #48CAE4;
    --secondary-variant: #0096C7;
    --secondary-foreground: #023E8A;
    --muted: #000000;
    --muted-foreground: #5e5e5e;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  button, a {
    @apply cursor-pointer;
  }

  button.primary.filled {
    @apply bg-primary text-primary-foreground outline outline-primary hover:bg-primary-variant
  }

  button.primary.outlined {
    @apply bg-transparent text-primary border border-primary;
  }

  a.primary {
    @apply text-primary hover:text-primary-variant;
  }

  a.secondary {
    @apply text-secondary hover:text-secondary-variant;
  }
}

/* Button Loader */
.button-loader {
  width: 20px;
  height: 20px;
  border: 2px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  }

  /* Loader A */
  .loader-a {
    font-size: 48px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #2b73f8;
    letter-spacing: 2px;
    position: relative;
    box-sizing: border-box;
  }
  .loader-a::after {
    content: 'Processing File';
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    text-shadow: 0 0 2px #000, 0 0 1px #000, 0 0 1px #000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    animation: animloader 6s linear infinite;
  }

  @keyframes animloader {
    0% {
      height: 100%;
    }
    100% {
      height: 0%;
    }
  }

/* Loader B */
.loader-b {
  width: 0;
  height: 4.8px;
  display: inline-block;
  position: relative;
  background: #2b73f8;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  animation: animFw 8s linear infinite;
}
  .loader-b::after,
  .loader-b::before {
    content: '';
    width: 10px;
    height: 1px;
    background: #000;
    position: absolute;
    top: 9px;
    right: -2px;
    opacity: 0;
    transform: rotate(-45deg) translateX(0px);
    box-sizing: border-box;
    animation: coli1 0.3s linear infinite;
  }
  .loader-b::before {
    top: -4px;
    transform: rotate(45deg);
    animation: coli2 0.3s linear infinite;
  }

@keyframes animFw {
    0% {
  width: 0;
}
    100% {
  width: 100%;
}
  }

@keyframes coli1 {
    0% {
  transform: rotate(-45deg) translateX(0px);
  opacity: 0.7;
}
    100% {
  transform: rotate(-45deg) translateX(-45px);
  opacity: 0;
}
  }

@keyframes coli2 {
    0% {
  transform: rotate(45deg) translateX(0px);
  opacity: 1;
}
    100% {
  transform: rotate(45deg) translateX(-45px);
  opacity: 0.7;
}
  }

/* Loader C */
.loader-c {
  position: relative;
  font-size: 48px;
  letter-spacing: 2px;
}
.loader-c:before {
  content: "Generating Quiz";
  color: #000;
}
.loader-c:after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #2b73f8;
  border-radius: 50%;
  position: absolute;
  inset: 0;
  margin: auto;
  top: -70px;
  animation: motion 3s ease-in-out infinite;
}

@keyframes motion {
  0%, 50%, 100% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-100px) scale(0.3);
  }
  75% {
    transform: translateX(100px) scale(0.3);
  }
}

#sentry-feedback {
  --background: var(--primary);
  --foreground: var(--primary-foreground);
  --accent-background: var(--secondary);
  --accent-foreground: var(--secondary-foreground);
}